* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
}

section.banner img {
  width: 100%;
}

form {
  text-align: left;
}

a {
  text-decoration: none;
  color: #000;
}

/*
    --------- Header ---------
*/

header {
  display: flex;
  flex-direction: column;
  background-color: #EAC926;
  padding: 5px;
}

header img {
  height: 50px;
}

header .top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .top-header .logo {
  width: 30%;
}

header .top-header .form {
  width: 60%;
  display: flex;
}

header .top-header .form input {
  width: 80%;
  margin: auto;
}

header .top-header .form div {
  width: 20%;
}

header .top-header .ico {
  width: 30%;
  display: flex;
}

header .nav {
  display: flex;
  justify-content: space-between;
}

header .nav ul {
  display: flex;
  justify-content: space-between;
}

header .nav ul li {
  padding: 2px;
  list-style: none;
}

/*
  --------- Main ---------
*/

img {
  width: 150px;
  height: 150px;
  border-radius: 5%;
}

section {
  margin-bottom: 50px;
}

main {
  width: 90vw;
  text-align: center;
  margin: auto;
}

main article {
  margin-bottom: 10px 0px;
  border: 1px solid #ebebeb;
  background-color: #fff;
}

.artimg {
  text-align: center;
}

.description {
  border: 1px solid #ebebeb;
  padding-top: 15px;
  padding-left: 6px;
  text-align: left;
  position: relative;
}

.div-p {
  display: flex;
}

.discount {
  padding-left: 15px;
  color: #39b54a;
  font-size: 15px;
}

main section h3 {
  margin-bottom: 10px;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: #39b54a;
}

.fa-truck:hover {
  transition: 1000ms;
  transform: rotate(-90deg);
}

.description-product {
  display: none;
}

main section article:hover .description-product {
  display: block;
}

main article:hover {
  transition: 500ms;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


/*
    --------- Footer ---------
*/

footer {
  display: flex;
  flex-direction: column;
}

footer .footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .info {
  color: #666;
  text-align: center;
  margin: 10vh 7vh;
}

footer .info .icon {

  color: #1259c3;
  font-size: 2rem;
  margin-bottom: 10px;

}

footer #copyright {
  display: flex;
  justify-content: center;
}

footer .copyright p {
  margin: 10px 0px 20px 10px;
  font-family: 'Inter';
  font-weight: 900;
  color: #000;
}

@media (min-width: 320px) {
  main section article {
    margin-bottom: 20px;
  }
}

@media (min-width: 425px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  main section article {
    width: 40vw;
  }

  .header-title {
    margin: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 426px) {
  nav {
    display: none;
  }
}

@media (min-width: 768px) {
  main section article {

    width: 20vw;
  }

  .burgermenu {
    display: none;
  }

  .headerlogo {
    width: 30vw;
    margin-right: 15px;
  }

  .lupa-search {
    width: 30vw;
  }

  .header-title {
    width: 30vw;
    margin-left: 15px;
    margin-top: 60px;
  }

  .footer-section {
    display: flex;
  }

  .pft-copyrigth {
    text-align: left;
    margin-left: 20px;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
  }
}